.nav__recicle {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/icons/recicle.svg);
  background-repeat: no-repeat;
}

.nav__recicle:hover {
  color: #598D66;
  opacity: .5;
  transition: 0.5s ease;
  cursor: pointer;
}

.nav__recicle:focus {
  background: #D4E8D9;
}

.nav__recicle:active {
  color: #376b43;
}