.stage__num {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-family: Golos Text;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: #313131;
  margin-right: 16px;
}