.intro__discription {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #86928B;
  margin-bottom: 60px;
}

@media (max-width: 780px) {
  .header__container {
    margin-bottom: 40px;
  }
}