.footer__social-link1 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Facebook.svg);
  background-repeat: no-repeat;
}

.footer__social-link1:hover {
  color: #598D66;
  opacity: 0.5;
  transition: 0.5s ease;
}

.footer__social-link1:focus {
  background-color: #D4E8D9;
}

.footer__social-link1:active {
  background-color: #376B44;
  color: #fff;
}