.promo__description {
  max-width: 540px;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

@media (max-width: 780px) {
  .promo__description {
    max-width: 690px;
    margin-bottom: 20px;
  }
}