.header__container {
  max-width: 1140px;
  padding: 32px 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 780px) {
  .header__container {
    padding: 32px 39px;
  }
}