@import url(reset.css);
@import url(../blocks/page/page.css);
@import url(../blocks/container/container.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/main/__header/main__header.css);
@import url(../blocks/main/__top/main__top.css);
@import url(../blocks/main/__inner/main__inner.css);
@import url(../blocks/main/__title/main__title.css);
@import url(../blocks/main/__title/main__title-second.css);
@import url(../blocks/main/__text/main__text.css);
@import url(../blocks/main/__buttons/main__buttons.css);
@import url(../blocks/main/__button/main__button.css);
@import url(../blocks/main/__button-black/main__button-black.css);
@import url(../blocks/running/running.css);
@import url(../blocks/running/__string/running__string.css);
@import url(../blocks/running/__text/runnig__text.css);
@import url(../blocks/running/__dot/running__dot.css);
@import url(../blocks/visit/__container/visit__container.css);
@import url(../blocks/visit/__title/visit__title.css);
@import url(../blocks/game/__container/game__container.css);
@import url(../blocks/game/__content/game__content.css);
@import url(../blocks/game/__img/game__img.css);
@import url(../blocks/game/__title/game__title.css);
@import url(../blocks/game/__desc/game__desc.css);
@import url(../blocks/table/table.css);
@import url(../blocks/table/__desc/table__desc.css);
@import url(../blocks/table/__desc/_last/table__desc_last.css);
@import url(../blocks/table/__desc/_right/table__desc_right.css);
@import url(../blocks/table/__desc/_top/table__desc_top.css);
@import url(../blocks/stage/__container/stage__container.css);
@import url(../blocks/stage/__title/stage__title.css);
@import url(../blocks/stage/__grid/stage__grid.css);
@import url(../blocks/stage/__grid-item3/stage__grid-item3.css);
@import url(../blocks/stage/__grid-item7/stage__grid-item7.css);
@import url(../blocks/stage/__item/stage__item.css);
@import url(../blocks/stage/__num/stage__num.css);
@import url(../blocks/stage/__desc/stage__desc.css);
@import url(../blocks/stage/__desc/_last/stage__desc_last.css);
@import url(../blocks/stage/__img/stage__img.css);

.participants__container {
  padding-top: 200px;
  margin-bottom: 140px;
}

.particapants__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.participants__title {
  font-family: Merriweather;
  font-weight: 400;
  font-size: 54px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #313131;
}

.participants__buttons {
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
}

.participants__btn {
  display: block;
}

.participants__btn-img:hover circle {
  fill: #FBCE51;
  color: #D6D6D6;
  transition: fill 0.5s ease;
}

.participants__btn-disabled  {
  opacity: 0.6;
}

.participants__slider {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 20px;
}


.participants__pagination {
  width: 40px;
  font-family: Golos Text;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #313131;
  opacity: 0.6;
}


.card {
  padding: 0 37px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__img {
  display: block;
  border-radius: 50%;
  background-color: #313131;
  background-size: cover;
  background-position: 50%;
  width: 320px;
  height: 320px;
  margin-bottom: 28px;
}

.card__title {
  font-family: Golos Text;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: #313131;
  margin-bottom: 6px;
}

.card__desc {
  font-family: Golos Text;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  color: #313131;
  opacity: 0.6;
  margin-bottom: 20px;
}

.card__link {
  border: 1px solid #3057a2;
  border-radius: 62px;
  width: 113px;
  font-family: Golos Text;
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #3057a2;
  text-align: center;
}

.card__link:hover {
  background: #3057a2;
  color: #ffffff;
  transition: 0.5s ease;
}

.footer {
  background: #e9ded4;
}

.footer__container {
  padding-top: 40px;
  padding-bottom: 72px;
}

.footer__desc {
  font-family: Golos Text;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #313131;
  opacity: 0.6;
}