.footer__social-link2 {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/Instagram.svg);
}

.footer__social-link2:hover {
  color: #598D66;
  transition: 0.5s ease;
}

.footer__social-link2:focus {
  background-color: #D4E8D9;
}

.footer__social-link2:active {
  background-color: #376B44;
  color: #fff;
}