.intro__title {
  font-weight: 500;
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 66px;
  margin-bottom: 20px;
}

.title-span {
  color: #598D66;
}

@media (max-width: 780px) {
  .intro__title {
    font-size: 40px;
    line-height: 1;
  }
}